:root {
  --gray-100: #FEFEFE;
  --gray-200: #8D8D99;
  --gray-300: #434343;
  --yel: #FFD33C;

  font-family: 'Roboto', sans-serif;
}

body {
  background: var(--gray-100);
  color: var(--gray-300);
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 0;
}